#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .txt-logo{
        position: fixed;
        left:270px;
    }

    .img-logo {
        position: absolute;
        height: 70px;
    }

    .txt-body{
        line-height: 34px;
    }

    #page-landing .content-wrapper {
        position: relative;
        width: 100%;
        max-width: 1100px;
        height: 100%;
        max-height: 500px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        /* background: url('assets/img/relatorios.png') no-repeat 80% center;
        background-size: 410px; */
    }

    .content-wrapper .enter-app {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 80px;
        height: 80px;
        background: #ffd666;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
    }
    
    .content-wrapper .enter-app:hover {
        background: #96FEFF;
    }
}

@media (max-width: 768px) {
    .txt-logo{
        position: relative;
        left:88px;
        margin-bottom: 18px;
    }

    .img-logo {
        position: fixed;
        top: 20px;
        left: 20px;
        height: 70px;
    }
    
    .img-Body{
        display: none;
    }

    .content-wrapper .enter-app {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 80px;
        height: 80px;
        background: #ffd666;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
    }
    
    .content-wrapper .enter-app:hover {
        background: #96FEFF;
    }
}